<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>Document</title>
</head>
<style>
    #alert{
        background-color: orange;
        border-bottom: 1px solid;
    }
    #danger{
        background-color:red;
        border-bottom: 1px solid;
    }
    table{
        border: 1px solid;
    }
    td{
        border-left: 1px solid;
        cursor:pointer;

    }
    .content{
        margin-left:2%;
        width: 25%;
        height: 430px;
    }
    .content:hover{
        border: solid;
        border-width: 1px;
        border-color: grey;
    }
    .contentAlert{
        margin-left:2%;
        width: 25%;
        height: 430px;
        border: solid;
        border-width: 2px;
        border-color:orange;
    }
    .contentDanger{
        margin-left:2%;
        width: 25%;
        height: 430px;
        border: solid;
        border-width: 2px;
        border-color:red;
    }
</style>
<body>
    <div class="container row col-md-12 ">
        <div class="col-md-offset-2 col-md-4">
            <table class="table table-hover">
                <thead id="alert">
                    <tr>
                        <th colspan="2">Stock Articles Alertants < 25</th>
                    </tr>
                </thead>
                <tbody>
                    {% for alert in alerts %}
                        <tr>
                            <td>{{ alert.name }}</td>
                            <td>{{ alert.stock }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-offset-1 col-md-4">
                <table class="table table-hover">
                    <thead id="danger">
                        <tr>
                            <th colspan="2">Stock Articles Dangeureux < 10</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for danger in dangers %}
                            <tr>
                                <td>{{ danger.name }}</td>
                                <td>{{ danger.stock }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
    </div>
    <div class="container row col-md-12" style="margin-left: 9%;">
            {% for article in articles %}
                <div class="col-md-4 {% if article.stock < 10 %}contentDanger {% elseif article.stock > 10 and article.stock < 25 %}contentAlert {% else %} content{% endif %} ">
                    <img style="width: 315px; height: 350px; margin-top:15px;" src="{{article.image}}">
                    <span style="margin-left: 3%; font-weight: bold; font-size: 90%;"> {{ article.name }} </span>
                    <div style="margin-left:3%; margin-top:5px;">
                        <input type="number" id="{{article.id}}" class="form-control col-md-6" style="width:180px;" placeholder="{{ article.stock }} articles en stock"> 
                        <button class="btn btn-success col-md-4" style="margin-left:1%;" onclick="stock('{{ article.id }}')">confirmer</button>                       
                    </div>
                </div>
            {% endfor %}
    </div>
    
</body>
</html>
<script>
    function stock(id)
    {
        $.ajax({
            type: 'POST',
            data: { 'id': id, 'stock': $('#'+id).val() },
            url: "{{path('set_stock')}}",
            success: function(data) {
              $('body').load("{{path('stock')}}")
            }
        });
    }
</script>