{% extends "@Store/Default/home.html.twig" %}
{% use "@Store/Default/sidebar.html.twig" %}

{% block content %}
    <div id="bandeau-margin">
        {% block sidebar %}
            {{ parent() }}
        {% endblock %}
        <div class="col-md-offset-2" id="load-sort">
            {% for article in articles %}
                <a class="row col-md-4 article submit-article" href="{{path('display_article', { 'gender': article.category.gender, 'category': article.category.name, 'slug': article.slug, 'id': article.id}) }}">
                    <img class="category-image" src="{{article.image}}">
                    <span class="category-name"> {{ article.name }} </span>
                    <div class="category-sale">
                        <span {% if article.salePercent != 0 %}class="category-sale-price" {% endif %}>{{ article.price|number_format(2,'.',',') }}€</span>
                        {% if article.salePercent != 0 %}
                            <span class="sale-price">{{article.salePrice|number_format(2,'.',',')}}€</span>
                            <span class="sale-percent">Promotion -{{article.salePercent}}%</span>
                        {% endif %}
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block javascript %}
{{ parent() }}
<script>
    function sort(val)
    {  
        const url = window.location.href
        const genderRegex = /.*\/(homme|femme|unisex)/
        const genderArray = url.match(genderRegex)
        const gender = genderArray[1]
        const categoryRegex = /\/(homme|femme|unisex).*\/.*/
        const categoryStr = url.match(categoryRegex)
        if (categoryStr != null){
            const categoryArray = categoryStr[0].split('/')
            var category = categoryArray[2]
        }
        else
            var category = null
        $.ajax({
            type: 'POST',
            data: {'sort' : val.value,'gender': gender, 'category': category},
            url: "{{ path('articleSort') }}",
            success: function(data){
                $('#load-sort').html(data)
            }
        });
    }
</script>
{% endblock %}