<!DOCTYPE html>
<html lang="fr">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>oui</title>
</head>
<style>
    html{
        overflow-x:hidden;
    }
    .category:hover{
        cursor: pointer;
        color: #660033;
    }
    .content{
        margin-left:2%;
        width: 29%;
        height: 450px;
    }
    .content:hover{
        border: solid;
        border-width: 1px;
        border-color: grey;
        cursor: pointer;

    }
</style>
<body>
    <div id ="load" class="container col-md-2" style="height:1360px; border-right-style:outset; border-right-width:1px;">
        <span style="margin-left:2%; font-size:130%; ">{{ categories[0].gender }}</span>
        {% for category in categories %}
            <div class="col-md-12">
                <span class="category" onclick="load_data_by_category('{{category.name}}','{{category.gender}}')">{{category.name}}</span>
            </div>
        {% endfor %}
    </div>
    <div class="col-md-offset-2" id="article" style="margin-top:10%;">
        {% for article in articles %}
            <div class="row col-md-4 content" onclick="display_article('{{article.id}}')">
                <img style="width: 315px; height: 350px; margin-top:15px;"src="{{article.image}}">
                <span style="margin-left: 3%; font-weight: bold; font-size: 90%;"> {{ article.name }} </span>
                <div style="margin-left:3%; margin-top:5px;">
                    <span {% if article.salePercent != 0 %}style="text-decoration:line-through;" {% endif %}>{{ article.price }}€</span>
                    {% if article.salePercent != 0 %}
                       <span style="color:grey; margin-left:2%">{{article.salePrice}}€</span>
                       <span style="color:red; margin-left:2%;">Promotion -{{article.salePercent}}%</span>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
</body>
</html>
<script>
    function load_data_by_category(category, gender)
    {
        var tab ={}
        tab['gender'] = gender
        tab['name'] = category
        $.ajax({
            type: 'POST',
            data: tab,
            url: "{{path('display_category_data')}}",
            success: function(data){
                $("#article").html(data)
            },
            error: function(){
            }
        });
    }

    function display_article(id){
        $.ajax({
            type: 'POST',
            data: {'id': id},
            url: "{{path('display_article')}}",
            success: function(data){
                $("#article").html(data)
            },
            error: function(){
            }
        });
    }
</script>