{% extends "@Store/Default/home.html.twig" %}
{% use "@Store/Default/sidebar.html.twig" %}


{% block content %}
    <div id="solo-margin">
        {% block sidebar %}
            {{ parent() }}
        {% endblock %}
        <div class="col-md-offset-1 col-md-5">
            <img id="solo-image" src="{{ article.image }}">
        </div>
        <div class="col-md-4">
            <h2> {{ article.name }} </h2>
            <div>
                <span {% if article.salePercent != 0 %}class="category-sale-price" {% endif %}>{{article.price|number_format(2,'.',',')}}€</span>
                {% if article.salePercent != 0 %}
                    <span class="sale-price">{{article.salePrice|number_format(2,'.',',')}}€</span>
                    <span class="sale-percent">Promotion -{{article.salePercent}}%</span>
                {% endif %}
                <br>
                <button type="submit" class="btn btn-warning" style="margin-top: 25px;" onclick="addItem('{{ article.id }}')">Ajouter au panier</button>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
{{ parent() }}
<script>
    function addItem(id)
        {
            $.ajax({
                type: 'POST',
                data: {'addItem' : id},
                url: "{{ path('push_cart') }}",
                success: function(data){
                    location.reload(true);
                }
            });
        }
</script>
{% endblock %}