<!DOCTYPE html>
<html lang="fr" class="js_active vc_desktop vc_transform" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>안녕</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ asset('/css/home.css') }}">
</head>
<body>
    {% block bandeau %}
        <div class="container-fluid">
            <div class="bandeau">
                <span id="homeBouton">내 마케트</span>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="col-sm-offset-4 col-sm-1 topBouton">
                            <a class="submit-a" href="http://195.154.119.108/app_dev.php/">Home</a>
                        </div>
                        <div class="col-sm-1 topBouton">
                            <a class="submit-a" href="{{ path('display_home_data', {'gender': 'homme', 'category': ''}) }}">Homme</a>
                        </div>
                        <div class="col-sm-1 topBouton">
                            <a class="submit-a" href="{{ path('display_home_data', {'gender': 'femme', 'category': ''}) }}">Femme</a>
                        </div>
                        <div class="col-sm-1 topBouton">
                            <a class="submit-a" href="{{ path('display_home_data', {'gender': 'unisex', 'category': ''}) }}">Unisex</a>
                        </div>
                        {% if is_granted('ROLE_USER') %}
                            <div class="col-sm-2 topBouton">
                                <div id="cart" onclick="windowCart()">
                                    <span class="glyphicon glyphicon-shopping-cart"></span>
                                    <span style="font-family: Malgun Gothic; margin-left:3%;">Mon Panier ({{ length }})</span>
                                </div>
                            </div>
                            <div class="col-sm-1 topBouton">
                                <a  class="submit-a" href="http://195.154.119.108/app_dev.php/logout">Déconnexion</a>
                            </div>
                        {% else %}
                            <div class="col-sm-offset-1 col-sm-2 topBouton">
                                <a class="submit-a" href="http://195.154.119.108/app_dev.php/login">S'inscrire/ Connexion</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
    {% block content %}
        <div class="container-fluid row col-sm-12">
            <img style="margin-top:90px; width:103%; height:750px;" src="https://www.pixelstalk.net/wp-content/uploads/2016/07/4k-Wallpapers-For-Desktop.jpg"/>
            <div class="col-sm-offset-5" style="margin-top:5%; height:350px;">
                <h1>Insert catch phrase here</h1>
                <p>Insert description here</p>
                <button>insert button here</button>
        </div>
        <div class="col-sm-12">
            <img style="margin-left:-2%; width:106%; height:750px;" src="https://assets.adidas.fr/image/upload/f_auto,q_auto,fl_lossy/frFR/Images/181101-HOLIDAY-FW18-HP-MH-Wave-1-DT_tcm196-295969.jpg"/>
            <div class="col-sm-offset-5" style="margin-top:4%; height:900px;">
                <h1>Insert catch phrase here</h1>
                <p>Insert description here</p>
                <button>insert button here</button>
            </div>
        </div>
    {% endblock %}
    {% block overlay %}
        <div id="overlay">
            <div class="row">
                <div class="col-sm-12">
                    <div class="col-sm-offset-4 col-sm-4" id="logPage">
                        <div class="glyphicon glyphicon-remove" id="close-button" onclick="windowCart()" ></div>
                        <div class="col-sm-12">
                            {% if cart == [] %}
                                <span>votre panier est vide</span>
                            {% else %}
                                {% for key, article in cart %}
                                    <div class="col-sm-offset-1 col-md-11" style="margin-top:5%;">
                                        <div class="col-md-6">
                                            <img style="width:100%; height:150px;" src="{{ article[0].image }}">
                                            <span>{{ article[0].name }}</span>
                                            <br>
                                            <span>Prix unité: {{ article[0].salePrice|number_format(2,'.',',') }} €</span>
                                            <br>
                                            <button class="btn btn-danger" onclick="removeItem('{{ key }}')">Retirer du panier</button>
                                        </div>
                                        <div class="col-md-5" style="margin-top:20%;">
                                            <div class="glyphicon glyphicon-minus" style="cursor:pointer" onclick="minusItem('{{ key }}')"></div>
                                            <span>Quantité {{ article["quantity"] }}</span>
                                            <div class="glyphicon glyphicon-plus" style="cursor:pointer" onclick="plusItem('{{ key }}')"></div>
                                            <span>Total: {{ (article[0].salePrice * article["quantity"])|number_format(2,'.',',')}} €</span>
                                        </div>
                                    </div>
                                {% endfor %}
                                <div>prix total: </div>
                                <a href="{{ path('pay') }}">procéder au paiement</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
    {% block javascript %}
        <script>
            function windowCart()
            {
                if ($("#overlay").css("display") == "none")
                {
                    $("#overlay").css("display","block");
                    $("html").css({"overflow-y": "hidden"});
                }
                else
                {
                    $("#overlay").css("display","none");
                    $("html").css({"overflow-y": "visible"});
                }
            }

            function plusItem(id)
            {
                $.ajax({
                    type: 'POST',
                    data: {'plusItem' : id},
                    url: "{{ path('push_cart') }}",
                    success: function(data){
                        location.reload(true);
                    }
                });
            }

            function minusItem(id)
            {
                $.ajax({
                    type: 'POST',
                    data: {'minusItem' : id},
                    url: "{{ path('push_cart') }}",
                    success: function(data){
                        location.reload(true);
                    }
                });
            }

            function removeItem(id)
            {
                $.ajax({
                    type: 'POST',
                    data: {'removeItem' : id},
                    url: "{{ path('push_cart') }}",
                    success: function(data){
                        location.reload(true);
                    }
                });
            }

            function submitCart(cart)
            {
                
            }
        </script>
    {% endblock %}
</body>
</html>