<!DOCTYPE html>
<html lang="fr" class="js_active vc_desktop vc_transform" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>안녕</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ asset('/css/home.css') }}">
</head>
<body>
    {% block bandeau %}
        <div class="container-fluid">
            <div class="bandeau">
                <span id="homeBouton">내 마케트</span>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="col-sm-offset-4 col-sm-1 topBouton">
                            <a class="submit-a" href="http://195.154.119.108/app_dev.php/">Home</a>
                        </div>
                        <div class="col-sm-1 topBouton">
                            <a class="submit-a" href="{{ path('display_home_data', {'gender': 'homme', 'category': ''}) }}">Homme</a>
                        </div>
                        <div class="col-sm-1 topBouton">
                            <a class="submit-a" href="{{ path('display_home_data', {'gender': 'femme', 'category': ''}) }}">Femme</a>
                        </div>
                        <div class="col-sm-1 topBouton">
                            <a class="submit-a" href="{{ path('display_home_data', {'gender': 'unisex', 'category': ''}) }}">Unisex</a>
                        </div>
                        <div class="col-sm-2 topBouton">
                            <div id="cart" onclick="windowCart()">
                                <span class="glyphicon glyphicon-shopping-cart"></span>
                                <span style="font-family: Malgun Gothic; margin-left:3%;">Mon Panier
                                    <span id="basketLength"></span>
                                </span>
                            </div>
                        </div>
                        {% if is_granted('ROLE_USER') %}
                            <div class="col-sm-1 topBouton">
                                <a  class="submit-a" href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
                            </div>
                        {% else %}
                            <div class="col-sm-2 topBouton">
                                <a class="submit-a" href="{{ path('fos_user_security_login') }}">S'inscrire/ Connexion</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
    {% block content %}
        <div class="container-fluid row col-sm-12">
            <img style="margin-top:90px; width:103%; height:750px;" src="https://www.pixelstalk.net/wp-content/uploads/2016/07/4k-Wallpapers-For-Desktop.jpg"/>
            <div class="col-sm-offset-5" style="margin-top:5%; height:350px;">
                <h1>Insert catch phrase here</h1>
                <p>Insert description here</p>
                <button>insert button here</button>
        </div>
        <div class="col-sm-12">
            <img style="margin-left:-2%; width:106%; height:750px;" src="https://assets.adidas.fr/image/upload/f_auto,q_auto,fl_lossy/frFR/Images/181101-HOLIDAY-FW18-HP-MH-Wave-1-DT_tcm196-295969.jpg"/>
            <div class="col-sm-offset-5" style="margin-top:4%; height:900px;">
                <h1>Insert catch phrase here</h1>
                <p>Insert description here</p>
                <button>insert button here</button>
            </div>
        </div>
    {% endblock %}
    {% block overlay %}
        <div id="overlay">
            <div class="row" id="basket">
            </div>
        </div>
    {% endblock %}
    {% block javascript %}
        <script>
            loadBasket()

            function loadBasket() {
                return new Promise(function(res){
                    $.ajax({
                        type: 'POST',
                        data: {},
                        url: "{{ path('basket') }}",
                        success: function(data){
                            $('#basket').html(data)
                            res()
                        }
                    });
                })
            }

            function windowCart()
            {
                loadBasket().then(function(){
                    if ($("#overlay").css("display") == "none"){
                        $("#overlay").css("display","block");
                        $("html").css({"overflow-y": "hidden"});
                    }
                    else{
                        $("#overlay").css("display","none");
                        $("html").css({"overflow-y": "visible"});
                    }
                })
            }

            function plusItem(id)
            {
                $.ajax({
                    type: 'POST',
                    data: {'action_cart': {'plusItem' : id}},
                    url: "{{ path('push_cart') }}",
                    success: function(data){
                        loadBasket();
                    }
                });
            }

            function minusItem(id)
            {
                $.ajax({
                    type: 'POST',
                    data: {'action_cart': {'minusItem' : id}},
                    url: "{{ path('push_cart') }}",
                    success: function(data){
                        loadBasket();
                    }
                });
            }

            function removeItem(id)
            {
                $.ajax({
                    type: 'POST',
                    data: {'action_cart': {'removeItem' : id}},
                    url: "{{ path('push_cart') }}",
                    success: function(data){
                        loadBasket();
                    }
                });
            }

            function submitCart(cart)
            {
                
            }
        </script>
    {% endblock %}
</body>
</html>