<!DOCTYPE html>
<html lang="fr" class="js_active vc_desktop vc_transform" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>안녕</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ asset('/css/home.css') }}">
</head>
    <style>
        .submenu{
            display: none;  
            text-align: center;
            background-color: white;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
        .list:hover .submenu{
            display: inline-block;
            z-index: 1000000;
        }
        .element
        {
            list-style-type: none; 
            font-family: Malgun Gothic;
            border-bottom: 1px solid grey;
            margin-top: 20px;
            margin-right:30px;
        }
    </style>
<body>
    {% block bandeau %}
        <div class="container-fluid">
            <div class="bandeau">
                <span id="homeBouton">내 마케트</span>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="col-sm-offset-4 col-sm-1 topBouton">
                            <a class="submit-a" href="http://195.154.119.108/app_dev.php/">Home</a>
                        </div>
                        <div class="col-sm-1 topBouton">
                            <a class="submit-a" href="{{ path('display_home_data', {'gender': 'homme', 'category': ''}) }}">Homme</a>
                        </div>
                        <div class="col-sm-1 topBouton">
                            <a class="submit-a" href="{{ path('display_home_data', {'gender': 'femme', 'category': ''}) }}">Femme</a>
                        </div>
                        <div class="col-sm-1 topBouton">
                            <a class="submit-a" href="{{ path('display_home_data', {'gender': 'unisex', 'category': ''}) }}">Unisex</a>
                        </div>
                        <div class="col-sm-2 topBouton">
                            <div id="cart" onclick="windowCart()">
                                <span class="glyphicon glyphicon-shopping-cart"></span>
                                <span style="font-family: Malgun Gothic; margin-left:3%;">Mon Panier
                                    <span id="basketLength"></span>
                                </span>
                            </div>
                        </div>
                        {% if is_granted('ROLE_USER') %}
                            <div class="col-sm-2 topBouton">
                                <ul class="list">
                                    <li class="submit-a" style="list-style-type: none;"><a class="submit-a">Mon compte</a>
                                        <ul class="submenu">
                                            <li class="element"><a class="submit-a" href="">Mes commandes</a></li>
                                            <li class="element"><a class="submit-a" href="">Mes paramètres</a></li>
                                            <li class="element"><a class="submit-a" href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        {% else %}
                            <div class="col-sm-2 topBouton">
                                <a class="submit-a" href="{{ path('fos_user_security_login') }}">S'inscrire/ Connexion</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
    {% block content %}
        <div class="container-fluid row col-sm-12">
            <div id="banner" style="z-index:-999; position:fixed;">
                <img style="margin-top:90px; width:103%; height:300px; " src="https://content.nike.com/content/dam/one-nike/en_lu/SP19/Homepage/EMEA/0228/0228-P1-NSW-AM-720-TAKEOVER-DT.png.transform/full-screen/0228-P1-NSW-AM-720-TAKEOVER-DT.png">
                <img style="width:103%; height:1200px;;" src="https://content.nike.com/content/dam/one-nike/en_lu/SP19/Homepage/EMEA/0228/0228-P2-NSW-AM-720-TAKEOVER-DT.png.transform/full-screen/0228-P2-NSW-AM-720-TAKEOVER-DT.png"/>
                <img style="width:103%; height:900px;" src="https://content.nike.com/content/dam/one-nike/en_lu/SP19/Homepage/EMEA/0228/0228-P3-NSW-AM-720-TAKEOVER-DT.png.transform/full-screen/0228-P3-NSW-AM-720-TAKEOVER-DT.png">
                <img style="width:103%; height:600px;" src="https://content.nike.com/content/dam/one-nike/en_lu/SP19/Homepage/EMEA/0228/0228-P4-NSW-AM-720-TAKEOVER-DT.png.transform/full-screen/0228-P4-NSW-AM-720-TAKEOVER-DT.png">
            </div>
            <div class="col-sm-12" id="text1" style="margin-top:400px; width:103%; height:200px; background-color:white; opacity: 0.75;">
                <h1 style="text-align:center;">Bienvenue sur le projet e-commerce de Romain Cattaneo</h1>
                <p style="font-size: 130%;">Ce projet est structuré en deux grandes parties, la boutique fictive directement accessible en cliquant sur le type de vêtement souhaité et l'espace back office réservé au compte administrateur. Je vous invite à découvrir la boutique, choisir des articles et enfin procéder au paiement. L'api de stripe ayant été intégrée en environnement de test, saisissez les informations de paiement indiquées sur la page lors de l'achat afin de mener à bien la procédure.</p>
                <h3 style="text-align: center;">Scrollez vers le bas pour le descriptif de la partie back office</h3>
            </div>
            <div class="col-sm-12" style="margin-top:600px; width:103%; height:200px; background-color:white; opacity: 0.75;">
                <h1 style="text-align: center">Description du back office</h1>    
                <p style="font-size: 130%;">Entrer les logs admin indiqués sur la page de connexion afin d'accéder au back office. Vous accéderez donc à l'ajout, modification, suppresion des articles. Les modifications étant disponibles pour tous, merci de rester respectueux. Vous pouvez aussi appliquer des promotions de 0 à 99% sur les articles. Les features Statistiques, Facture, commandes clients et paramètres clients sont en cours de développement. </p>
                <h3 style="text-align: center">Merci pour votre visite</h3>
            </div>
            <div class="col-sm-12" style="margin-top:900px;">
                <div class="col-sm-offset-5">
                    <h1></h1>
                </div>
            </div>
    {% endblock %}
    {% block overlay %}
        <div id="overlay">
            <div class="row" id="basket">
            </div>
        </div>
    {% endblock %}
    {% block javascript %}
        <script>
            loadBasket()

            function loadBasket() {
                return new Promise(function(res){
                    $.ajax({
                        type: 'POST',
                        data: {},
                        url: "{{ path('basket') }}",
                        success: function(data){
                            $('#basket').html(data)
                            res()
                        }
                    });
                })
            }

            function windowCart()
            {
                loadBasket().then(function(){
                    if ($("#overlay").css("display") == "none"){
                        $("#overlay").css("display","block");
                        $("html").css({"overflow-y": "hidden"});
                    }
                    else{
                        $("#overlay").css("display","none");
                        $("html").css({"overflow-y": "visible"});
                    }
                })
            }

            function plusItem(id)
            {
                $.ajax({
                    type: 'POST',
                    data: {'action_cart': {'plusItem' : id}},
                    url: "{{ path('push_cart') }}",
                    success: function(data){
                        loadBasket();
                    }
                });
            }

            function minusItem(id)
            {
                $.ajax({
                    type: 'POST',
                    data: {'action_cart': {'minusItem' : id}},
                    url: "{{ path('push_cart') }}",
                    success: function(data){
                        loadBasket();
                    }
                });
            }

            function removeItem(id)
            {
                $.ajax({
                    type: 'POST',
                    data: {'action_cart': {'removeItem' : id}},
                    url: "{{ path('push_cart') }}",
                    success: function(data){
                        loadBasket();
                    }
                });
            }
        </script>
        <script>
            window.addEventListener("DOMContentLoaded", scrollLoop, false)
            var banner = document.querySelector('#banner')
            var xScrollPosition
            var yScrollPosition
            function scrollLoop(e)
            {
                xScrollPosition = window.scrollX
                yScrollPosition = window.scrollY
                setTranslate(0, yScrollPosition * -1.5, banner)
                requestAnimationFrame(scrollLoop)
            }
            function setTranslate(xPos, yPos, el)
            {
                el.style.transform = "translate3d(" + xPos + ", " + yPos + "px, 0)"
            }
        </script>
    {% endblock %}
</body>
</html>